/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */

.jumbotron {
  /* background-color: #9d7a36 !important; */
  background-color:rgba(157,122,54, 0.8) !important;
  padding: 2rem 2rem;
  font-family: 'PT Sans Narrow', sans-serif;
  /* opacity: .8; */
}

h1 {
  font-weight: 800;
  font-size: 3.5rem;
  opacity: 1;
}

.card-header {
  font-size: 22px;
  /* margin: auto; */
  background-color:#d7c9ae;
  font-weight: 600;
}

body {
  background-image: url("../images/pianoMic.jpg");
  background-size: cover;
  font-family: 'PT Sans Narrow', sans-serif;
}

#train-table th,
td {
  display: inline-block;
  width: 20%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

#trainInput {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  }

#timeInput {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  }

#trainSubmit {
  background-color: #8d4f5e;
  border-style: none;
  font-size: 24px;
  margin: 2px;
}